.App {
display: flex;
justify-content: center;
flex-direction: column;
width: 700px;
}

#title {
  display: flex;
  justify-content: center;
  color: rgb(233, 107, 107);
  font-family: fantasy;
}

#input {
  font-size: large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

#button, #input {
  height: 30px;
}

#list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;

}

.list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  box-shadow: 2px 2px 0px 1px;
  padding:5px;
  margin: 3px;
  border-radius: 4px;
  border: 1px solid black;
  width: 300px;
  list-style-type: none;
  background-color: red;
}

.list-item-completed {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  box-shadow: 2px 2px 0px 1px;
  padding:5px;
  margin: 3px;
  border-radius: 4px;
  border: 1px solid black;
  width: 300px;
  list-style-type: none;
  background-color: green;
}
